.wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 100%;
    overflow-x: hidden;
}

.container {
    background-color: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 20px 12px;
}

.settingsIcon {
    display: flex;
    margin-top: 15px;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
}

.icon {
    width: 24px;
    height: 24px;
    object-fit: contain;
    margin-right: 10%;
}

.mainContent {
    display: flex;
    margin-top: 15px;
    max-width: 100%;
    width: 100%;
    flex-direction: column;
    overflow: hidden;
    padding-right: 12px;
    box-sizing: border-box;
}

.tabBar {
    background-color: #fff;
    position: fixed;
    display: flex;
    width: 100%;
    max-width: 390px;
    align-items: center;
    gap: 74px;
    justify-content: center;
    bottom: 0;
    font: 500 14px Pretendard, -apple-system, Roboto, Helvetica, sans-serif;
    padding: 12px 0;
}
