.reportContainer {
    display: flex;
    margin-top: 30px;
    width: 100%;
    max-width: 366px;
    flex-direction: column;
}

.noiseAlert {
    color: #0059ff;
    font-size: 16px;
    font-weight: 400;
}

.reportButton {
    border-radius: 4px;
    background-color: #fff;
    display: flex;
    margin-top: 15px;
    width: 100%;
    gap: 20px;
    justify-content: space-between;
    padding: 0 32px 0 8px;
    border: none;
    cursor: pointer;
}

.buttonContent {
    display: flex;
    align-items: center;
}

.reportIcon {
    width: 56px;
    height: 56px;
    object-fit: contain;
}

.reportText {
    font-size: 24px;
    color: #000;
    font-weight: 500;
    padding: 14px 10px;
}

.arrowIcon {
    width: 24px;
    height: 24px;
    object-fit: contain;
    align-self: center;
}