.scoreWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90px;
    font: 700 14px Pretendard, -apple-system, Roboto, Helvetica, sans-serif;
}

.scoreIcon {
    width: 90px;
    aspect-ratio: 1;
    object-fit: contain;
}

.scoreLabel {
    color: #5F6368;
    text-align: center;
    margin-top: 8px;
}

.scoreValue {
    color: #000;
    position: absolute;
    top: 34px;
    left: 50%;
    width: 60px;
    height: 21px;
    transform: translateX(-50%);
    text-align: center;
}