.tabItem {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000;
    text-align: center;
}

.icon {
    width: 24px;
    height: 24px;
    object-fit: contain;
}